<div class="container">
    <table>
        <th>
            Languages
        </th>
        @{ 
            foreach (var item in ViewBag.Items)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        }
    </table>
</div>